#submit{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 200px) and (max-width: 640px) {
    .container{
        width: 90% !important;
    }
}

@media screen and (min-width: 650px) and (max-width: 2000px) {
    .container{
        width: 50% !important;
    }
}


